body {
    max-width: 1440px;
    padding: 0 40px;
    margin: 0 auto;
}

section {
  margin-bottom: 40px;
}

h1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%
}

h2 {
    font-size:60px;
    font-weight: 600;
    line-height: 125%
}

h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%
}

.accent {
    font-style: italic;
}

.medium {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}
.hidden{
  display: none;
 }
 
.caption {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

.link {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    text-align: center;
}

.centered {
  position: absolute; 
   top: 40px; 
   left: 40px; 
   width: 530px;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px){
  h1 {
    font-size: 42px;
    line-height: 115%;
  }

  h2 {
    font-size: 32px;
  }

  #offer {
    padding: 60px 30px;
  }

  .burger{
    display:block;
    position: relative;
    width: 44px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 50%;
    z-index: 65;
    transition: all 1s linear;
  }

  .nav, .crop, .hide, #header-menu{
    display: none;
  }
  .hidden {
    display:block;
  }
}
/* ...........380.................. */
@media screen and (max-width: 380px){

  #offer {
    max-width: 348px;
    max-height: 552px;
    padding: 60px 16px;
    height: 644px;
  }
}