#slider{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 40px;
}

.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    gap:40px;

}
.slides{
    width: 480px;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    scroll-snap-type: x mandatory;
    flex-flow: row nowrap;
    overflow: auto;
    scroll-snap-stop: always;
    position: relative;
}

.slide {
    width: 480px;
    margin: 0 auto;
    margin-bottom: 40px;
    scroll-snap-align: start;
    flex: 1 1 auto;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide div{
    display: flex;
    flex-direction: column;
    gap:16px;
}


#favorite {
    text-align: center;
}
.slide img {
    margin-bottom: 20px;
    margin: 0 auto;
    max-width: 100%;
}

.dot {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #C1B6AD;
}

.selected {
    background-color: #665F55;
}

#controls{
    display: flex;
    justify-content: space-between;
    width: 144px;
    height: 4px;
    margin: 0 auto;
}

.control{
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: var(--border-color);
}

.control.on{
    background-color: var(--border-inv-color);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
} 

.button-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-color);
    background-color: var(--page-color);
    border-radius: 100px;
}

.button-slider:hover {
    border: none;
    background-color: var(--container-color);
}

.button-slider:hover .icon{
    filter: var(--icon-hover-color);
}