body {
  --page-color: #E1D4C9;
  --container-color: #665F55;
  --accent-color: #B0907A;
  --overlay-color: #403F3D;
  --border-color: #C1B6AD;
  --border-inv--color: #665F55;
  --primary-color: #403F3D;
  --inv-color: #E1D4C9;
}


.dark {
  --page-color: #292826;
  --container-color: #403F3D;
  --accent-color: #B0907A;
  --overlay-color: #292826;
  --border-color: #665F55;
  --border-inv--color: #C1B6AD;
  --primary-color: #E1D4C9;
  --inv-color: #E1D4C9;
}


body {
  background-color: var(--page-color);
  color: var(--primary-color);
    
}

.roundbutton{
  color: var(--primary-color);
  border: 1px solid var(--border-color);
}

.roundbutton:hover{
  color: var(--inv-color);
  background-color: var(--container-color);
}

.marketbutton{
  color: var(--primary-color);
  border: 1px solid var(--border-color);
}

.menubutton{
  color: var(--primary-color);
  border: 1px solid var(--border-color);
  background-color: var(--page-color);
}

.marketbutton:hover{
  color: var(--inv-color);
  background-color: var(--container-color);
}

.underscore::after{
  color: var(--primary-color);
  background-color: var(--primary-color);
}

.inv .underscore::after{
  color: var(--inv-color);
  background-color: var(--inv-color);
}

footer .container {
  background-color: var(--container-color);
}

.inv{
  color: var(--inv-color);
}

.accent{
  color: var(--accent-color);
}

a {
  color: inherit;
}


h2, h3 {
  color: inherit;
}

.toggler {
  border: 1px solid var(--border-color);
}

.toggler:hover .toggler-option:not(.toggler-selected){
  background-color: var(--container-color);
}
.toggler-selected {
  background-color: var(--accent-color);
}

.choice{
  border: 1px solid var(--border-color);
  color: var(--primary-color);
  background-color: var(--page-color);
}
.choice-icon{
  background-color: var(--border-color);
}

.choice:hover, .selected.choice{
  color: var(--inv-color);
  background-color: var(--container-color);
}

.choice:hover .choice-icon,.selected  .choice-icon{
  background-color: var(--page-color);
}

.preview {
  border: 1px solid var(--border-color);
}

.theme-slider{
   background-color: var(--page-color);
   border: 1px solid var(--border-color);
}

.theme-slider:before{
  background-color: var(--accent-color);
}

input:checked + .theme-slider:before{
  background-color: var(--page-color);
}

input:checked + .theme-slider:hover:before{
  background-color: var(--container-color);
}

.theme-slider:hover:after{
  background-color: var(--container-color);
}

input:checked + .theme-slider:after{
  background-color: var(--accent-color);
}

input:checked + .theme-slider:hover:after{
  background-color: var(--accent-color);
}

